body {
    background-image: linear-gradient(to top, rgb(80, 79, 79), rgba(255, 255, 255, 0.918));
  }

  .caption {
    background-color: rgb(247, 220, 220);
    padding: 2px;
    text-align: center;
  }